.card-fixed-header {
  font-size: 1.5rem;
  position: relative;
}

.card-over-icon {
  width: 75px;
  height: 75px;
  position: relative;
  top: -20px;
  background-color: #4698a3;
  color: white;
}

.card-rating {
  color: #fea541;
}

.card-summary {
  font-size: 1.5rem;
  font-weight: bold;
}